<img ng-src="{{ folio.pageFolio.image }}" class="md-card-image" alt="Washed Out" flex="60">
<br>
<h2>{{ folio.pageFolio.title }}</h2>
  <div ng-cloak>
    <md-content class="md-padding-0 u-right">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Visual">
          <md-content class="md-padding">
            <text-angular ng-model="folio.pageFolio.article"></text-angular>
          </md-content>
        </md-tab>
        <md-tab label="Editor">
          <md-content class="md-padding">
            <div  ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'html',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="folio.pageFolio.article"></div>
      </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
<ul>
  <li ng-repeat="categories in folio.pageFolio.category">
    {{ categories.category }}</li>
</ul>

<md-button ng-click="folio.savePage(folio.pageFolio)">Save</md-button>
<md-button ng-click="folio.deletePage(folio.pageFolio)">Delete</md-button>
