<form ng-submit="post.add()">
    <md-card class="container_add md-whiteframe-8dp">
        <md-input-container class="input_container_add">
            <label>Title</label>
            <input ng-model="post.blogForm.title">
            <i ng-click="post.cancel()" class="material-icons input_container_add--cancel">clear</i>
        </md-input-container>
        <md-input-container class="input_container_add">
            <label>Description</label>
            <input ng-model="post.blogForm.post">
            <i ng-click="post.cancel()" class="material-icons input_container_add--cancel">clear</i>
        </md-input-container>
        <md-input-container class="input_container_add">
            <label>Image</label>
            <input ng-model="post.blogForm.image">
            <i ng-click="post.cancel()" class="material-icons input_container_add--cancel">clear</i>
        </md-input-container>
        <md-input-container class="input_container_add">
            <label>Tag</label>
            <input ng-model="post.blogForm.tag">
            <i ng-click="post.cancel()" class="material-icons input_container_add--cancel">clear</i>
        </md-input-container>
    </md-card>
    <md-button class=" md-whiteframe-4dp md-fab md-primary button_add" type="submit"><i class="material-icons icon_add">add</i></md-button>
</form>