<img ng-src="{{ folio.pageFolio.image }}" class="md-card-image" alt="Washed Out" flex="60">
<br>
<h2>{{ folio.pageFolio.title }}</h2>
  <div ng-cloak>
    <md-content class="md-padding-0 u-right">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Visual">
          <md-content class="md-padding">
            <text-angular ng-model="folio.pageFolio.article"></text-angular>
          </md-content>
        </md-tab>
        <md-tab label="Editor">
          <md-content class="md-padding">
            <div  ui-ace="{
  useWrapMode : true,
  showGutter: true,
  theme:'twilight',
  mode: 'html',
  firstLineNumber: 5,
  onLoad: aceLoaded,
  onChange: aceChanged
}" ng-model="folio.pageFolio.article"></div>
      </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
<ul>
  <li ng-repeat="categories in folio.pageFolio.category">
    {{ categories.category }}</li>
</ul>

<md-button ng-click="folio.savePage(folio.pageFolio)">Save</md-button>
<md-button ng-click="folio.deletePage(folio.pageFolio)">Delete</md-button>

<div class="" ng-controller="MyCtrl">
  <h4>Upload on file select</h4>
  <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Files</button>
  <br><br>
  Files:
  <ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
            ng-bind="f.progress + '%'"></div>
      </span>
    </li>
    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
    </li>
  </ul>
  {{errorMsg}}
</div>

<ul ng-controller="MediaCtrl as file">
  <li ng-repeat="item in file.mediaTypes">
    <img ng-src="/../uploads/{{item.file}}" alt="" />
  </li>
</ul>
