<md-card>
    <img ng-src="{{ post.blogPost.image }}" class="md-card-image" alt="Washed Out" flex="40">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                {{ post.blogPost.title }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
          <textarea name="name" rows="8" cols="100%"  ng-model="post.blogPost.post"></textarea>
        <ul>
            <li ng-repeat="category in post.blogPost.tags">
            {{ category.tags }}</li>
        </ul>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="post.saveBlog(post.blogPost)">Save</md-button>
        <md-button ng-click="post.deleteBlog(post.blogPost)">Delete</md-button>
    </md-card-actions>
</md-card>

<h2>Comments</h2>

<md-card ng-repeat="comment in post.blogPost.comments">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                {{ comment.name }} | {{ comment.email }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{ comment.reply }}
        </p>
    </md-card-content>
</md-card>
