<md-card>
    <img ng-src="{{ post.blogPost.image }}" class="md-card-image" alt="Washed Out" flex="40">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                {{ post.blogPost.title }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{ post.blogPost.post }}
        </p>
        <ul>
            <li ng-repeat="category in post.blogPost.tags">
            {{ category.tag }}</li>
        </ul>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
    </md-card-actions>
</md-card>

<h2>Comments</h2>

<comment-associate associate="{{ post.blogPost.id }}"></comment-associate>

<md-card ng-repeat="comments in post.blogPost.comments">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                {{ comments.name }} | {{ comments.email }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{ comments.reply }}
        </p>
    </md-card-content>
</md-card>
